h1 {
		margin: 0;
		color: white;
		font-size: 2.5em;
}
h2 {
	margin: 0;
	color: #0D9AB3;
	font-size: 2.5em;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #F3D0E9;
	color: #333;
}
header {
	background-color: #F3D0E9;
	text-align: center;
	padding: 20 px;
}

main {
	padding: 20 px;
}
.wiersz {
	font-style: italic;
	line-hight; 1.8;
	background-color: #4D6DD3;
	border-left: 5 px solid #000000;
	padding: 10 px 20 px;
	margin: 20 px 0;
	border_radius: 5 px;
	color: #000000;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20 px 0;
	background-color: #F3D0E9;
	box-shadow: 0 0 10 px rgba(0, 0, 0, 0.1);
}
table th, table td {
		border: 1px solid #ccc
		padding: 10px;
		text-algin: left;
}

table th {
	backgroung color: #F3D0E9;
	color #333;
	
	
	ul, ol {
		margin: 0;
		padding: 10px 20px;
	}
	footer {
		background color: #333;
		color: #fff
		text-algin: center;
		padding 10px 0;
		font-size: 0.9em;
	}
	footer a {
		color: #ffcc00;
		text-decoration: none;
	}
	
	footer a:hover {
		text-decoration: underline;
	}